PORT=3000

DB_HOST=
DB_PORT=5432
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SSL=false

REDIS_URL=
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_TLS=false

MAPBOX_TOKEN=
MAILER_SERVICE=
MAILER_EMAIL=
MAILER_PASSWORD=
APPINSIGHTS_CONNECTION_STRING=
